recursive-include imagestore/static *
recursive-include imagestore/templates *
recursive-include imagestore/migrations *.py
recursive-include imagestore/locale *
include imagestore/test_img.jpg
include README.rst