{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load voting_tags %}
{% load hitcount_tags %}
{% load comment_tags %}
{% load userProfile_tags %}
{% load inbox %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/creative.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/navigation.css">
    <script type="text/javascript">   
    $(document).ready(function() {
            {% for album in album_list %}
                {% get_hit_count_javascript for album %}
            {% endfor %}
    });
    </script>
{% endblock %}



{% block title %}
    {% if view_user %}
        {% trans "Albums for user" %} {{ view_user }}
    {% else %}
        {% trans "All albums" %}
    {% endif %}
{% endblock %}

{% block imagestore-breadcrumb %}
    <li>
        {% if view_user %}
            {% trans "Albums for user" %} {{ view_user }}
        {% else %}
            {% trans "All albums" %}
        {% endif %}
    </li>
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with user=view_user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block imagestore-related %}
    {% include "imagestore/tag-cloud.html" %}
{% endblock %}

{% block content %}
    <h4>
    {% if view_user %}
        {% get_owned_blog view_user as blog %}
        {% trans "Uploaded Images " %} {{ blog.num_images }} {% trans "/" %} {{ max_images }}
    {% else %}
        {% trans "All albums" %}
    {% endif %}
    </h4>
    {% include "imagestore/pagination.html" %}
    <div class='album-list'>
        {% for album in album_list %}
            <div class='album' style="border: groove #D1D1D1 2px">
                <div class='album-head'>
                    <!--a class="album_photos" href="{{ album.get_absolute_url }}"-->
                    <a class="album_photos" href="{% url imagestore:render_album album.id %}">
                        <span class="album-name">{{ album.name }}</span>
                    {% if album.get_head %}
                        {% thumbnail album.get_head.image "150x150" crop='center' as album_head %}
                            <img class="preview" {% if album.name %} alt="{{ album.name }}" {% endif %} src="{{ album_head.url }}">
                        {% endthumbnail %}

                        {% include 'imagestore/render_voting.html' with object=album %}

                        <div class="cover-stat-wrap" style="background-color:#f6f6f6;">
                            <span class="cover-stat cover-stat-views">
                                <span class="stat-label be-font-inline">G</span>
                                <span class="stat-value">{% get_hit_count for album %}</span>
                            </span>
                        </div><!-- .cover-stat-wrap -->

                    {% else %}
                        <img style="height:150px;width:150px;" src="{{ STATIC_URL }}img/emptyAlbum.png">
                         {#[{% trans "Empty album" %}]#}
                    {% endif %}
                    <br>
                    <span class="album-name">{{ album.name }}</span>
                    {% if not view_user and IMAGESTORE_SHOW_USER %}
                        <br>
                        <span class="album-user">
                            {% trans "user" %}: {{ album.user }}
                        </span>
                    {% endif %}
                    </a></br>
                    {% if album.user == request.user and request.user.is_authenticated %}
                    <a class="delete_album" href="{% url imagestore:delete-album album.id %}">{% trans "Delete Album" %}</a>
                    {% endif %}
                </div>
                {% if album.user != request.user %}
                    {% include 'actstream/render_spam_report.html' with object=album %}
                {% endif %}
            </div>

        {% endfor %}
    </div>
    {% include "imagestore/pagination.html" %}
{% endblock %}