{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Gallery -" %} {{ category.title|escape }}{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <a href="{% url imagestore-category-list %}">{% trans "Gallery" %}</a> &gt; &gt;
</div>
{% endblock breadcrumb %}

{% block head %}
{% include "imagestore/lightbox.html" %}
{% endblock head %}

{% block content-related %}
    {% if childrens %}
        <ul class="galleries-list">
        {% for category in childrens %}
            <li class="gallery-title"> <a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {%  endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
<h1>{{ category.title }}</h1>
   {% include "imagestore/image-list.html" %}
{% endblock content %}
