{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load tagging_tags %}

{% block title %}
    {% trans "Image" %} - {{ image.title }}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }} &#187;
    <a href="{% url imagestore-category-list %}">{% trans "Gallery" %}</a> &#187;
    {% trans "Image" %}: {{ image.title }}
{% endblock %}

{% block content %}
        <h1>{{ image.title }}</h1>
        <div class="image-description">
            {{ image.description }}
        </div>
        <div class="tagging">
            {% trans "Tags" %}:
            {% tags_for_object image as itags %}
            {% for tag in itags %}
                <a href="{% url imagestore-tag tag.name %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div id="image-view">
            <div class="navigation">
                {% if previous %} <a class="previous-link" href="{{ previous.get_absolute_url }}">← {% trans "previous image" %}</a> {% endif %}
                {% if next %} <a class="next-link" href="{{ next.get_absolute_url }}">{% trans "next image" %}→</a> {% endif %}
            </div>
            {% thumbnail image.image "800x800" as full_im %}
                <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ full_im.url }}">
            {% endthumbnail %}
        </div>
{% endblock content %}

{% block content-related %}
     <div id="controls">
            <a href="{% url imagestore-upload %}">{% trans "Upload image" %}</a>
            <div class="controls-group">
                <ul>
                    <li><a href="{% url imagestore-update image.id %}">{% trans "Edit image" %}</a></li>
                    <li><a href="{% url imagestore-delete image.id %}">{% trans "Delete image" %}</a></li>
                </ul>
            </div>
            <div class="control-group previews">
                {% for limg in image_list %}
                    {% thumbnail limg.image "50x50" crop="center" as im %}
                        {% ifequal limg.id image.id %}
                            <img class="preview current" src="{{ im.url }}">
                        {% else %}
                            <a class="thumb" href="{{ limg.get_absolute_url }}"><img class="preview" src="{{ im.url }}"></a>
                        {% endifequal %}
                    {% endthumbnail %}
                {% endfor %}
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="previous">← {% trans "previous" %}</a>
                    {% endif %}
                    {% if page_obj.has_next%}
                        <a href="?page={{ page_obj.next_page_number }}" class="next">{% trans "next" %} →</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}