{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load voting_tags %}
{% load comment_tags %}
{% load url from future %}
{% load inbox %}

{% block imagestore-breadcrumb %}
    {% with "li" as scope_tag %}
        {% include "imagestore/image-scope.html" %}
    {% endwith %}
{% endblock %}

{% block title %}
    {% include "imagestore/image-scope.html" %}
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with user=view_user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with user=album.user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}


{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
        {% if request.user.is_authenticacted  %}
            <li><a href='{% url 'imagestore:update-album' pk=album.pk %}'>{% trans "Edit album" %}</a></li>
        {% endif %}
		{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% include "imagestore/image-scope.html" %}
    </h1>
    {% include "imagestore/pagination.html" %}
    <div id="image-thumbnails">
        {% for image in image_list %}
            <div class='image-preview'>
            {% thumbnail image.image "120x120" crop="center" as im %}
                <a class="thumb" rel='gallery-image[ilist]' href="{{ image.image.url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                        {% score_for_object  image as score %}
                        {% voters_for_object image as voters %}
                        {% include 'imagestore/render_voting.html' with object=image %}

                        {% if image.title %}
                            <br><span class='image-title'>{{ image.title }}</span>
                        {% endif %}                
				</a>
                <a href="{% include "imagestore/image-href.html" %}">
                    {% if image.title %}
                        <br><span class='image-title'>{{ image.title }}</span>
                    {% else %}
                        {% trans 'Info' %}
                    {% endif %}
                </a>
            {% endthumbnail %}
            </div>
            <a href="{% url 'imagestore:delete-image' image.id %}">delete image</a>

            {% if image.user != request.user %}
            <div id="reportSpam">
            <a href="{% report_spam_url image %}" onclick="var add_link = $(this);
                        var link = add_link.attr('href');
                        $.get(link, {}, function(data) {
                            if(data == 'ok')
                              alert('Reported');
                        });
                        return false;"><img title="Flag as spam" src="{{STATIC_URL}}img/flag_blue.ico"></a>
            </div>
            {% endif %}

            <a href="{% comments_for_obj_url image %}" OnClick="
                var add_link = $(this);
                $.get(add_link.attr('href'), {}, function(data) {
                    $('#subcomments{{forloop.counter}}').html(data);
                });
                return false;">comments</a>
            <div id="subcomments{{forloop.counter}}"></div>
            <div>
                {% comments_for_review image %}
            </div>

        {% endfor %}
        {% if album %}
        <a class="back_to_album"  href="{% url 'imagestore:user' album.user %}">{% trans "Back to album" %}</a>
        {% endif %}
    </div>
    {% include "imagestore/pagination.html" %}
{% endblock %}


