{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load voting_tags %}
{% load url from future %}

{% block jqueryImage %}
<script type="text/javascript">
$(document).ready(function() {
    $('a.thumb{{random}}').lightBox();
    $('#backToAlbum').click(function() {
            var add_link = $(this);
            $('#vendorAlbum').html("");
            var link = add_link.attr('href');
            $.get(link, {}, function(data) {
                $('#vendorAlbum').html(data);
            });
            return false;
    });
});

       $(function() {
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

 $(document).ready(function() {
{% for image in image_list %}
    var upSelector = $('#'+'upImage'+'{{ forloop.counter }}');  
    var downSelector =  $('#'+'downImage'+'{{ forloop.counter }}');
    var clearSelector = $('#'+'clearImage'+'{{ forloop.counter }}');
    /*var getScores = function(){

    var url = "/images/{{ image.id }}/up/vote/";
    $.get(url,{HTTP_X_REQUESTED:'XMLHttpRequest'},
           function(data) {
               if (data.success == true) {
                   $('#pImageScore'+'{{image.id}}').text(data.score.num_up_votes);
                   $('#nImageScore'+'{{image.id}}').text((data.score.num_down_votes));
               } else {
                   alert('ERROR: ' + data.error_message);
               }
           }, 'json');
    }
    getScores();*/

    var handler = function() {
        var add_link = $(this);
    $.post(add_link.attr('href'),{HTTP_X_REQUESTED:'XMLHttpRequest'},
           function(data) {
               if (data.success == true) {
                   $('#pImageScore'+'{{forloop.counter}}').text(data.score.num_up_votes);
                   $('#nImageScore'+'{{forloop.counter}}').text((data.score.num_down_votes));
               } else {
                   alert('ERROR: ' + data.error_message);
               }
           }, 'json');
    return false;    
    }
    upSelector.click(handler); 
    downSelector.click(handler);
    clearSelector.click(handler); 
{% endfor %}      
});
}); 



</script>

{% endblock %}
{% block imagestore-breadcrumb %}
    {% with "li" as scope_tag %}
        {% include "imagestore/image-scope.html" %}
    {% endwith %}
{% endblock %}

{% block title %}
    {% include "imagestore/image-scope.html" %}
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with user=view_user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with user=album.user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}


{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
        {% if request.user.is_authenticacted  %}
            <li><a href='{% url 'imagestore:update-album' pk=album.pk %}'>{% trans "Edit album" %}</a></li>
        {% endif %}
		{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% include "imagestore/image-scope.html" %}
    </h1>
    {% include "imagestore/pagination.html" %}
    <div id="image-thumbnails">
        {% for image in image_list %}
            <div class='image-preview'>
            {% thumbnail image.image "120x120" crop="center" as im %}
                <a class="thumb" rel='gallery-image[ilist]' href="{{ image.image.url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                        {% score_for_object  image as score %}
                        {% voters_for_object image as voters %}
                        <a id="upImage{{forloop.counter}}" href="/images/{{ image.id }}/up/vote/">
                            <img src="{{ STATIC_URL }}img/like.png">
                        </a>
                        <span id="pImageScore{{forloop.counter}}">{{score.num_up_votes}}</span>
                        <a id="downImage{{forloop.counter}}" href="/images/{{ image.id }}/down/vote/">
                            <img src="{{ STATIC_URL }}img/dislike.png">
                        </a>
                        <span id="nImageScore{{forloop.counter}}">{{score.num_down_votes}}</span>
                        <a id="clearImage{{forloop.counter}}" href="/images/{{ image.id }}/clear/vote/">Clear</a>
                        <span id="voterList{{forloop.counter}}">
                                {% for voter in voters.voters %}
                                <a href="{{ voter.get_absolute_url }}">
                                    {{ voter.username }}
                                </a>
                                {% endfor %}
                        </span>

                        {% if image.title %}
                            <br><span class='image-title'>{{ image.title }}</span>
                        {% endif %}                
				</a>
                <a href="{% include "imagestore/image-href.html" %}">
                    {% if image.title %}
                        <br><span class='image-title'>{{ image.title }}</span>
                    {% else %}
                        {% trans 'Info' %}
                    {% endif %}
                </a>
            {% endthumbnail %}
            </div>
        {% endfor %}
        {% if album %}
        <a id="backToAlbum"  href="{% url 'imagestore:user' album.user %}">{% trans "Back to album" %}</a>
        {% endif %}
    </div>
    {% include "imagestore/pagination.html" %}
{% endblock %}


