{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load voting_tags %}
{% load comment_tags %}
{% load url from future %}
{% load inbox %}
{% load userProfile_tags %}
{% load static %}
{% load imagestore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/albumpage.css" %}"/>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/jquery.sortable.js" %}"></script>
<script src="{% static "js/comment.handlers.js" %}"></script>

<script type="text/javascript">
    var image_order_array = [];
    var startIndex = 0;
    $(document).ready(function() {
        var $children = $('#image-thumbnails').children();
        $children.each(function(idx, itm) {
            image_order_array.push($(itm).attr('data-order'));
        });
        $('a.album-image').fancybox({
                        scrolling: 'yes',
                        minWidth:500,
                        minHeight:450,
                        autoSize: true,
                        helpers : { overlay : { locked : false } }
                      });
        $('.upload_album').on('click', function(event){
            $('#id_image').click();
            return false;
        });
        $('.edit_album').on('click', function(event){
            $('.edit_album_form').show();
            $('.update-album').on('submit', edit_album_form_submit_handler);
            return false;
        });
       $("#id_image").change(function() {
            $('.upload-image').submit();
            return false;
        });
        install_comment_on_object_handler();
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
        {% if request.user.is_authenticated  %}

        $('.sortable').sortable().bind('dragstart.h5s', function(event){
            startIndex = $(event.target).parents('.image-preview').index();
        }).bind('sortupdate', function(event, data) {
                var $element_dragged = data.item;
                if($element_dragged) {
                    var prev_order = $element_dragged.data("order");
                    var new_order;

                    if($element_dragged.index() > startIndex) {
                        new_order = $element_dragged.prev().attr('data-order');
                    } else {
                        new_order = $element_dragged.next().attr('data-order');
                    }

                    var image_id    = $element_dragged.data("id");
                    var link        = "{% url 'imagestore:update-album-order' 0 0  %}" ;

                    var linksplit                   = link.split("/");
                    linksplit[linksplit.length-2]   = new_order;
                    linksplit[linksplit.length-3]   = image_id;
                    link                            = linksplit.join('/');
                    
                    $.get(link, {}, function(data) {
                        var ret_data = JSON.parse(data);
                        if(ret_data.success) {
                            var $children = $element_dragged.parent().children();
                            $children.each(function(idx, itm) {
                                $(itm).attr('data-order', image_order_array[idx]);
                            });
                            console.log("Album is rearranged successfully!!");
                        }
                        else
                            console.log("Album rearrangement Failed!!");
                    });
                }
            });
    		var edit_image_submit_handler = function(){
    		        var $form = $(this);
    		        $.ajax({
    		            type: $form.attr('method'),
    		            url: $form.attr('action'),
    		            data: $form.serialize(),
    		            success: function (data) {
    		                var ret_data = data;
    		                if(ret_data.success) {
    		                	alert("updated successfully!!");
    		                	$.fancybox.close();
    		                } else {
    			                var errors = ret_data.errors;
    		                    $('.fancybox-inner').find('.error').removeClass('error');
    		                    $.each( errors, function( key, value ) {
    		                        $('.fancybox-inner').find('[name="' + key + '"]').addClass('error');
    		                    });
    		                }

    		            },
    		            error: function(data) {
    		            	console.log(data);
    		            }
    		        });
    		    return false;
    		};
            $('.editImage').click(function(event){
                var $url = $(this).attr("href");
                var afterShowCallback = function() {
                                            var $editImageFormContainer = $('.fancybox-inner').find('.edit-image');
                                            $editImageFormContainer.submit(edit_image_submit_handler);
                                        };

                doOpenUrlWithAjaxFancyBox($url, afterShowCallback);

    		    event.stopPropagation();
    		    event.preventDefault();
    		    return false;
            });

	        var onDelete = function(){
	        	var $element = $(this);
                $.confirm({
                    text: "Are you sure you want to delete this photo?",
                    confirm: function(button) {
                    $.ajax({
                      type: "POST",
                      url: $element.attr('href'),
                      success: function(data){
                            if(data.success === true) {
                                var $container = $element.parents('.image-preview');
                                $container.remove();
                            }
                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown) {
                         console.log("error during image deletion");
                      }
                    });
                    },
                    cancel: function(button) {
                        // do something
                    }
                });
				return false;
	        }

	        $(".deleteImage").click(onDelete);

        {% endif %}
        {% endif %}
    });
</script>
<style>


        .sortable.grid {
            overflow: hidden;
        }
        .sortable li {
            list-style: none;
            color: #1C94C4;
            margin: 5px;
            padding: 5px;
            float:left;
            height:120px;
            width:120px;
        }

        .handle {
            cursor: move;
        }

        li.highlight {
            background: #FEE25F;
        }
        li.sortable-placeholder {
            border: 1px dashed #CCC;
            background: none;
            margin: 5px;
            padding: 0px;
        }

</style>
{% endblock %} 


{% block main %}
{% get_owned_blog album.user as blog %}

<div class="row topHalfGutter">
    <div class="row">
        <div class="span7">
            <h6>
                <a href="{{ blog.get_absolute_url  }}">{{blog}}</a> | {% include "imagestore/image-scope.html" %}
            </h6>
        </div>
    </div>
{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
        {% if request.user.is_authenticated  %}
            <div class="row">
                <div class="span7">
                    <a class="upload_album albumManage fontTitillium1 fontSize13 colorWhite" href="#">{% trans "Add image" %}</a>
                    <a class="edit_album albumManage fontTitillium1 fontSize13 colorWhite" href='{% url 'imagestore:update-album' pk=album.pk %}'>{% trans "Edit album" %}</a>
                    {% render_minimal_image_upload_form album.id %}
                    <div class="edit_album_form" style="display:none">
                        {% render_minimal_album_update_form album.id %}
                    </div>
                </div>
            </div>
        {% endif %}
		{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include "imagestore/pagination.html" %}
    <div class="row">
        <div class="span7">
            <ul id="image-thumbnails" class="sortable">
                {% for image in image_list %}
                    <li class='image-preview topHalfGutter' data-id="{{image.id}}" data-order="{{image.order}}">
                    {% get_reldata_url image as rel_data_url %}
                    {% thumbnail image.image "120x120" crop="center" as im %}
                        {% if request.user == album.user or perms.imagestore.moderate_albums %}
                        {% if request.user.is_authenticated  %}
                        <span class="pull-right">
                            <a href="{% url 'imagestore:edit-image' image.id  %}" class="editImage"><img class="noBoxShadow" width="10px" height="10px" src="{% static "img/edit.png" %}"></a>
                            <a href="{% url 'imagestore:delete-image' image.id %}" class="deleteImage"><img class="noBoxShadow" width="10px" height="10px" src="{% static "img/cross_button.png" %}"></a>
                        </span>
                        {% endif %}
                        {% endif %}
                        <a class="album-image" rel='gallery-image[ilist]' href="{{ image.image.url }}" data-reldata-url="{{rel_data_url}}">
                            <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                                {#% include 'imagestore/render_voting.html' with object=image %#}

                                {#% if image.title %#}
                                    <!--br><span class='image-title'>{{ image.title }}</span-->
                                {#% endif %#}                
        				</a>
        <!--                 <a href="{#% include "imagestore/image-href.html" %#}">
                            {#% if image.title %#}
                                <br><span class='image-title'>{{ image.title }}</span>
                            {#% else %#}
                                {#% trans 'Info' %#}
                            {#% endif %#}
                        </a> -->
                    {% endthumbnail %}
                    </li>
                    <!-- <a href="{#% url 'imagestore:delete-image' image.id %#}"><img src="{#% static "img/delete.png" %#}"></img></a> -->
                    {#% if image.user != request.user %#}
                        {#% include 'actstream/render_spam_report.html' with object=image %#}
                    {#% endif %#}
                {% endfor %}
            </ul>
        </div>
    </div>
        {% if album %}
            <div class="row topHalfGutter fontTitillium1 color5D fontSize12">
                <div class="span6 whiteBoxLarge subcomments_container">
                    {% include 'actstream/render_subcomments_actstream.html' with object=album %}
                </div>
            </div>
        {% endif %}
    {% include "imagestore/pagination.html" %}

{% endblock %}
</div>
{% endblock %}
