{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load voting_tags %}
{% load comment_tags %}
{% load url from future %}
{% load inbox %}
{% load userProfile_tags %}
{% load static %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.thumb{{album.id}}').lightBox();
    });
</script>
{% endblock %} 


{% block main %}

{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
        {% if request.user.is_authenticacted  %}
           <a href='{% url 'imagestore:update-album' pk=album.pk %}'>{% trans "Edit album" %}</a>
        {% endif %}
		{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% include "imagestore/image-scope.html" %}
    </h1>
    {% include "imagestore/pagination.html" %}
    <div id="image-thumbnails" class="span9">
        {% for image in image_list %}
            <div class='image-preview' style="float:left;">
            {% get_reldata_url image as rel_data_url %}
            {% thumbnail image.image "120x120" crop="center" as im %}
                <a class="thumb thumb{{album.id}}" rel='gallery-image[ilist]' href="{{ image.image.url }}" data-reldata-url="{{rel_data_url}}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                        {% include 'imagestore/render_voting.html' with object=image %}

                        {#% if image.title %#}
                            <!--br><span class='image-title'>{{ image.title }}</span-->
                        {#% endif %#}                
				</a>
                <a href="{% include "imagestore/image-href.html" %}">
                    {% if image.title %}
                        <br><span class='image-title'>{{ image.title }}</span>
                    {% else %}
                        {% trans 'Info' %}
                    {% endif %}
                </a>
            {% endthumbnail %}
            <div>
            <a href="{% url 'imagestore:delete-image' image.id %}"><img src="{% static "img/delete.png" %}"></img></a>
            {% if image.user != request.user %}
                {% include 'actstream/render_spam_report.html' with object=image %}
            {% endif %}
            {% include 'actstream/render_subcomments.html' with object=image %}
            </div>
            </div>

        {% endfor %}
    </div>
        {% if album %}
            <div class="span3 row">
                {% include 'actstream/render_subcomments.html' with object=album %}
            </div>
        {% endif %}
    {% include "imagestore/pagination.html" %}
{% endblock %}
{% endblock %}

