{% load i18n %}
{% load voting_tags %}      
{% load userProfile_tags %}
{% load url from future %}
{% if object %}

    {% score_for_object  object as score %}
    {% voters_for_object object as voters %}

    {% vote_by_user request.user on object as vote %}
    <span>
    {% if not vote %}
    	{% if object|get_class_name == "Review" %}
                <a class="upvote" href="{% url 'vote_on_reviews' object.id 'up' %}">Like</a>
        {% elif object|get_class_name == "Album" %}
                <a class="upvote" href="{% url 'vote_on_albums' object.id 'up' %}">Like</a>
    	{% elif object|get_class_name == "Image" %}
                <a class="upvote" href="{% url 'vote_on_images' object.id 'up' %}">Like</a>
    	{% elif object|get_class_name == "ThreadedComment" %}
                <a  class="upvote" href="{% url 'vote_on_comments' object.id 'up' %}">Like</a>
     	{% elif object|get_class_name == "UserWishRadio" %}
                <a class="upvote" href="{% url 'vote_on_wishes' object.id 'up' %}">Like</a>    
    	{% endif %}

    {% else %}
        {% if object|get_class_name == "Review" %}
                <a class="clearvote" href="{% url 'vote_on_reviews' object.id 'clear' %}">Unlike</a>
        {% elif object|get_class_name == "Album" %}
                <a  class="clearvote" href="{% url 'vote_on_albums' object.id 'clear' %}">Unlike</a>
        {% elif object|get_class_name == "Image" %}
                <a  class="clearvote" href="{% url 'vote_on_images' object.id 'clear' %}">Unlike</a>
        {% elif object|get_class_name == "ThreadedComment" %}
                <a  class="clearvote" href="{% url 'vote_on_comments' object.id 'clear' %}">Unlike</a>
        {% elif object|get_class_name == "UserWishRadio" %}
                <a  class="clearvote" href="{% url 'vote_on_wishes' object.id 'clear' %}">Unlike</a>      
        {% endif %}
    {% endif %}
     <a class="pScore" href="{{ voters }}">{{score.num_up_votes}}</a>
     </span>
{% endif %}