{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block head %}
    {% include "imagestore/pphoto.html" %}
{% endblock head %}

{% block title %}
    {% trans "Gallery" %} - {% trans "User" %}: {{ gallery_owner.username }}
{% endblock %}
{% block breadcrumb %}
    {{ block.super }} &#187;
    <a href="{% url imagestore-category-list %}">{% trans "Gallery" %}</a> &#187;
    {{ gallery_owner.username }}
{% endblock breadcrumb %}

{% block content %}
    {% include "imagestore/tag-cloud.html" %}
    <h1>{% trans "User" %} - {{ gallery_owner.username }}</h1>
    {% include "imagestore/image-list.html" %}
{% endblock content %}