{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Gallery -" %} {{ category.title|escape }}{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <a href="{% url imagestore-category-list %}">{% trans "Gallery" %}</a> &gt; &gt;
</div>
{% endblock breadcrumb %}

{% block sidebar %}
<div class="author-list">
    <h1>{% trans "Our photographers" %}</h1>
    <ul>
    {% for author in author_list %}
    <li><a href="{% url imagestore-author slug=author.slug %}">{{ author.get_full_name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock sidebar %}

{% block content %}
    <h1>{{ category.title }}</h1>
    {% include "imagestore/image-list.html" %}
{% endblock content %}
