{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Gallery -" %} {{ category.title|escape }}{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <a href="{% url imagestore-category-list %}">{% trans "Gallery" %}</a> &gt; &gt;
</div>
{% endblock breadcrumb %}

{% block sidebar %}
    {% include "imagestore/author-list.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>{{ category.title }}</h1>
    {% include "imagestore/image-list.html" %}
{% endblock content %}
