{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Gallery" %} - {{ image.title|escape }}{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <a href="{% url imagestore-category-list %}"> {% trans "Gallery" %}</a> &gt; &gt;
    <a href="{% url imagestore-category slug=category.slug %}"> {{ category.title }}</a> &gt; &gt;
</div>
{% endblock breadcrumb %}

{% block sidebar %}
<div id = "category-images">
    <ul>
    {% for i in images %}
    <li><a href="{{ i.get_absolute_url }}"><img class="{% if i.current %}current{% endif %} gallery-thumbnail" src="{{ i.image.extra_thumbnails.small }}"></a></li>
    {% endfor %}
 
</div>
{% endblock sidebar %}
{% block content %}
<div class="navigation">
  {% if previous %}
  <a class="pagination" href="{{ previous.get_absolute_url }}">{% trans "< previous" %}</a>
  {% endif %}
  {% if next %}
  <a class="pagination" href="{{ next.get_absolute_url }}">{% trans "next >" %}</a>
  {% endif %}
</div>
 


<div id="current-image">
    <img class="gallery-image"  src="{{ image.image.extra_thumbnails.display }}">
</div>
<div id="adata">
    {% trans "Photographer" %}: {{ image.author.get_full_name }} {% if image.author.is_premium %}<span class="premium-author">{% trans "only premium package" %}</span> {% endif %}
</div>
{% endblock %}
