{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block breadcrumb %}
    {{ block.super }}  &#187;
    <a href="{% url imagestore:index %}">{% trans "Gallery" %}</a> &#187;
    {% if album %}
        <a href="{% url imagestore:user username=album.user.username %}">{{ album.user.username }}</a> &#187;
    {% endif %}
{% endblock %}

{% block title %}
    {% if view_user %}
        {% trans "User" %} {{ view_user.username }}
    {% endif %}
    {% if album %}
        {% trans "Album" %} {{ album.name }}
    {% endif %}
    {% if tag %}
        {% trans "Tag:" %} {{ tag }}
    {% endif %}
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with view_user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with album.user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}


{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
            <li><a href='{% url imagestore:update-album pk=album.pk %}'>{% trans "Change album" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% include "imagestore/image-scope.html" %}
    </h1>
    <div id="image-thumbnails">
        {% for image in image_list %}
            <div class='image-preview'>
            {% thumbnail image.image "120x120" crop="center" as im %}
                <a class="thumb" rel='gallery-image[ilist]' href="{% include "imagestore/image-href.html" %}">
                        <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}"></a>
            {% endthumbnail %}

            <div class='image-title'><a class="thumb" rel='gallery-image[ilist]' href="{% include "imagestore/image-href.html" %}">{{ image.title }}</a></div>
            </div>
        {% endfor %}
        {% include "imagestore/pagination.html" %}
    </div>
{% endblock %}


