#category-list li{
    font-size: 120%;
    padding-bottom: 15px;
}

#category-list {
    padding-bottom: 10px;
}

#controls {
    font-size: 90%;
}

#controls .controls-group {
    padding-top: 10px;
}

.image-description {
    padding: 10px 0 10px 0;
}

.navigation {
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 110%;
}

.navigation .next-link {
    margin-left: 100px;
}

img.current {
    border: 1px red solid;
}

#image-view img.preview {
    display: block;
    margin: 0 auto 0 auto;
}

#image-view {
    margin-right: 300px;
}