{% extends "base.html" %}

{% block title %} Imagestore. Django image gallery solution. {% endblock %}

{% block content %}
    <h1>Imagestore. Django image gallery</h1>

    <h2>Powerful image management interface<br>
    and gallery for your users.
    </h2>

    <div class='alert-message block-message'>
        You can download imagestore on bitbucket: <a href="https://bitbucket.org/zeus/imagestore">bitbucket.org/zeus/imagestore</a> or install from <a href="http://pypi.python.org/pypi/imagestore">pypi</a>.
    </div>

    <h2>Imagestore gives you</h2>
    <ul>
        <li>Albums</li>
        <li>Mass upload</li>
        <li>Thumbnails in admin intereface</li>
        <li>Ordering</li>
        <li>Djnago-tagging support</li>
        <li>Easy PrettyPhoto integration</li>
    </ul>

    <h2>Gallery for your users</h2>
    You can use imagestore to create gallery for your users.
    <ul>
        <li>Users can create albums, upload photos to albums</li>
        <li>Users can make albums non-public</li>
        <li>Users can set name, descripion and tags for photos</li>
        <li>Users can edit infomation about photo or upload new veresion</li>
    </ul>

{% endblock content %}